{% extends 'admin/dashboard-template.html' %}
{% block content %}
{% load static %}

{% block cssstyle %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
    {% endblock %}
<div class="container-fluid text-white">
               <div class="row p-t-b-8 ">
                  <div class="col">
                     <h1>Manage Iteration</h1>
                  </div>
               </div>
                                <div class="row p-t-b-8">
         <p class="user-nick"> {{user_name}}</p>
  </div>

            </div>
            </header>

<div class="container-fluid">
           
            <div class="row p-t-b-20">
               <div class="col-md-12">
                 {% if messages %}
                   {% for message in messages %}
                     {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
                       {% endif %}

                   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
                       {% endif %}

                   {% endfor %}
               {% endif %}
                 <!--  <div class="card no-b"> -->
                   {{ IterationForm.errors }}
{% if IterationForm.errors %}
    {% for field in IterationForm %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
           <div class="login-form-card">
                                  <!-- <div class="login-form-content"> -->
                  <form action="#" method="POST" onsubmit="doSomething();">
                    {% csrf_token %}
                                     <!-- start login -->
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Iteration Name <samp style="color: red">*</samp></label>
                            {{IterationForm.IterationName}}
                           
                          </div>
                           <div class="form-group">
                                        <label>Owner <samp style="color: red">*</samp></label>
                                       {{IterationForm.owner}}
                                </div>
                       
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label>Start Date <samp style="color: red">*</samp></label>
                                   <input type="text" name="StartDate" class="form-control datetimepicker-input" data-target="#datetimepicker1" required="" id="id_StartDate">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label>End Date <samp style="color: red">*</samp></label>
                                   <input type="text" name="EndDate" class="form-control datetimepicker-input" data-target="#datetimepicker1" required="" id="id_EndDate">
                            </div>
                        </div>
                        <div class="col-md-12">
                           <div class="form-group">
                                    <label>Description <samp style="color: red">*</samp></label>
                                   {{IterationForm.Description}}
                                </div>
                        </div>
                     
                      <div class="col-md-12">
                           <div class="form-group">
                                        <label>Associated Product</label>
                                        {{IterationForm.Product}}
                                </div>
                        </div>
                     
                     <div class="col-md-12">
                            <div class="form-group">
                                        <label>Associated Backlog</label>
                                      {{IterationForm.Backlog.errors.error}}
                                      {{IterationForm.Backlog}}
                                </div>
                        </div>

                        <div class="col-md-12">
                         <div class="form-group">
                          <input type="hidden" id="selected_user_storyes" value='{{IterationInfo.UserStory.all|join:"|"}}'>
                                        <label>Associated User Story List</label>
                                       {{IterationForm.UserStory}}
                                </div>

                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                    <label>Iteration Score</label>
                                    <!-- {{IterationForm.IterationScore}} -->
                                    <input class="form-control login-frm-input" type="text" value="" readonly="" placeholder="0" aid="login" name="iteration_score">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label>Iteration Size</label>
                                    <!-- {{IterationForm.IterationSize}} -->
                                    <input class="form-control login-frm-input" type="text" value="" readonly="" placeholder="0" aid="login" name="iteration_size">
                            </div>
                        </div>
                        <div class="col-md-12">
                               
                                <div class="form-group">
                                        <label>Associated Team <samp style="color: red">*</samp></label>
                                         {{IterationForm.Team}}
                                </div>
                               
                             
                              </div>
                                </div>
                            <div class="row">

                                
                                  <div class="col-md-2">
                                    <a href="{{BASE_URL}}manage-iteration" class="btn-block btn btn-white all-btn" > Cancel</a>
                                  </div>
                                  <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn-block btn btn-white all-btn">Add</button>
                               </div>
                             </div>
                             </div>     
                            </form></div>
                               
                        
                      </div>
             </div>
          <!-- </div> -->
               </div>

{% endblock %}



{% block script %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
<script type="text/javascript">


$(document).ready(function(){

  var get_backlog_id = $("#id_Backlog").val();
 get_user_story(get_backlog_id);

});


$(document).on('change','#id_UserStory',function(){

var ids = $(this).val();

var ids_in_string = ids.join(",");

if(ids_in_string != "")
{
  
  $.ajax({
      method:"POST",
      url:"{{BASE_URL}}iteration-view/get_storyes_scores_and_size",
      data:{"storyes_ids":ids_in_string},
      dataType:"JSON",
      success:function(data){
        $("#id_IterationScore").val(data.get_score.toFixed(0));
        $("#id_IterationSize").val(data.get_size);
      }
     });
   }  
else{
  $("#id_IterationScore").val("0");
  $("#id_IterationSize").val("0");
}

});

function doSomething() {
    $(".se-pre-con").css("display","block");
}

$(function () {
             

$('#id_StartDate').datetimepicker({
                format: 'MM/DD/YYYY'
              });
$('#id_EndDate').datetimepicker({
            format: 'MM/DD/YYYY',
            useCurrent: false //Important! See issue #1075
        });

$("#id_StartDate").on("dp.change", function (e) {
            $('#id_EndDate').data("DateTimePicker").minDate(e.date);
        });
        $("#id_EndDate").on("dp.change", function (e) {
            $('#id_StartDate').data("DateTimePicker").maxDate(e.date);
        });
        
  });




  $(document).ready(function(){


   $("#id_UserStory").addClass("form-control");
  $(".select2-container").css("width","100%");
   $('#id_UserStory').select2({
    placeholder: "Please select user storyes"
});

$("#id_Product").change(function(){

  var get_prodict_id = $(this).val();
  if(get_prodict_id)
  {
     $.ajax({
      method:"POST",
      url:"{{BASE_URL}}iteration-view/get_backlogs",
      data:{"product_id":get_prodict_id},
      dataType:"html",
      success:function(data){
          $("#id_Backlog").html(data);
        
      }
     });
  }
  else
  {
     
  }

});


  });

 $(document).on("change","#id_Backlog",function(){
  var get_backlog_id = $(this).val();
 get_user_story(get_backlog_id);
  $("#id_IterationScore").val("0");
  $("#id_IterationSize").val("0");
  
 }); 


function get_user_story(backlog_id)
{
  var selected_user_storyes = $("#selected_user_storyes").val();
  var get_backlog_id = backlog_id;
   
  if(get_backlog_id)
  {
     $.ajax({
      method:"POST",
      url:"{{BASE_URL}}iteration-view/get_user_story",
      data:{"get_backlog_id":get_backlog_id,"selected_user_storyes":selected_user_storyes},
      dataType:"html",
      success:function(data){
          $("#id_UserStory").html(data);
         
      }
     });
     // ------------------------------------------------
      $.ajax({
      method:"POST",
      url:"{{BASE_URL}}iteration-view/get_team",
      data:{"get_backlog_id":get_backlog_id},
      dataType:"html",
      success:function(data){
          $("#id_Team").html(data);
      }
     });
  }
  else
  {
     $("#id_UserStory").html('');
     $("#id_Team").html('<option value="" selected="">Please select team or None</option>');
  }
} 

</script>


{% endblock %}
