                <div class="paper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                   
                     <div>
                                    <form onsubmit="doSomething();" action="{{BASE_URL}}user-profile/edit-user-profile/{{user_profile_id}}" method="POST">
                                      {% csrf_token %}
                                    <div class="row">
                                      <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Profile Key<span style="color: red;"> *</span></label>
                                      </div></div>
                                      <div class="col-md-8">
                                        <div class="form-group">

                                        {{ar_user_profile_form.profile_key}}
                                   
                                </div>
 
                              </div>
                            </div>
                                <div class="row">
                                  <div class="col-md-6 offset-md-3">
                                <div class="form-group">
                                    <button type="submit" class="btn-block btn btn-white all-btn">Update</button>
                               </div>
                             </div>
                             </div>
                        </form></div>
             </div>
          </div>
                            </div>
                        </div>
