{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}
   <main>
      <section>
         <div class="xv-slider-wrap text-white">
            <div class="container-fluid">

                     <div class="row"><img src="{{BASE_URL}}media/img/dummy/b1.jpg" class="img-responsive center" alt="SS">
                     </div>
                  </div>
         </div>
      </section>
    <section class="p-t-b-20 service-blocks animatedParent animateOnce light">
         <div class="container">
            <div class="row">
               <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
                    <div class="plan text-center subscription" style="background-color: #fff;">
                        <span class="plan-name">Team Edition (Free Trial)</span>
                        <p class="plan-price text-center"><sup class="currency">Free</sup><strong></strong></p>
                        <ul class="list-unstyled" style="border-radius: 20px;">
                            <li><b>1 Admin User can add up to 7 Users  Per Team</b></li>
                           <li><b>Up to 2 Teams</b></li>
                           <li><b>Role Based User Access and Security</b></li>
                           <li><b>Up to 2 Product Lines</b></li>
                           <li><b>Up to 4 backlogs per Product Line</b></li>
                           <li><b>Unlimited Rating Cycles</b></li>
                           <li><b>Up to 80 User Stories</b></li>
                           <li><b>60 day trial $0 cost</b></li>
                           <li><button class="btn-primary btn">Buy Now</button></li>
                            <!-- <li>
                                <strong style="text-transform: uppercase; font-size: 1.3em;">Your Earning </strong>
                                 </li><li>400%</li>
                                <br><span style="width: 50%; height: 1px; background-color:#000; position: absolute; margin: 10px 0 -15px -25%;"></span><br> -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
                    <div class="plan text-center subscription">
                        <span class="plan-name">Team Edition</span>
                         <p class="plan-price text-center"><sup class="currency">Q1</sup><strong>2020</strong></p>
                        <ul class="list-unstyled" style="border-radius: 20px;">
                            <li><b>1 Admin User can add up to 7 Users Per Team</b></li>
                           <li><b>Up to 2 Teams</b></li>
                           <li><b>Role Based User Access and Security</b></li>
                           <li><b>Up to 10 Product Lines</b></li>
                           <li><b>Up to 4 backlogs per Product Line</b></li>
                           <li><b>Unlimited Rating Cycles</b></li>
                           <li><b>Up to 1350 User Stories</b></li>
                           <li><b>Pricing available Q1 2020</b></li>
                           <li><button class="btn-primary btn">Buy Now</button></li>
                            <!-- <li>
                                <strong style="text-transform: uppercase; font-size: 1.3em;">Your Earning </strong>
                                 </li><li>400%</li>
                                <br><span style="width: 50%; height: 1px; background-color:#000; position: absolute; margin: 10px 0 -15px -25%;"></span><br> -->
                        </ul>

                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible;-webkit-animation-delay: .5s; -moz-animation-delay: .5s; animation-delay: .5s;">
                    <div class="plan text-center subscription">
                        <span class="plan-name">Enterprise Edition</span>
                        <p class="plan-price text-center"><sup class="currency">Q1</sup><strong>2020</strong></p>
                        <ul class="list-unstyled" style="border-radius: 20px;">
                            <li><b>Multi Admin can add Multi Users per Team</b></li>
                           <li><b>Unlimited number of teams</b></li>
                           <li><b>Role Based User Access and Security</b></li>
                           <li><b>Unlimited Product Lines</b></li>
                           <li><b>Unlimited Backlogs</b></li>
                           <li><b>Unlimited Rating Cycles</b></li>
                           <li><b>Unlimited Userstories</b></li>
                           <li><b>Pricing Available Q1 2020</b></li>
                           <li><button class="btn-primary btn">Buy Now</button></li>
                            <!-- <li>
                                <strong style="text-transform: uppercase; font-size: 1.3em;">Your Earning </strong>
                                 </li><li>400%</li>
                                <br><span style="width: 50%; height: 1px; background-color:#000; position: absolute; margin: 10px 0 -15px -25%;"></span><br> -->
                        </ul>

                    </div>
                </div>

            </div>
         </div>
      </section>
    
   </main>


{% endblock %}