{% extends 'admin/dashboard-template.html' %}
{% block content %}
{% load static %}
<div class="container-fluid text-white">
               <div class="row p-t-b-10 ">
                  <div class="col">
                     <h1>Edit Feature</h1>
                  </div>
               </div>
            </div>
            </header>
<div class="container-fluid">


        
         <!--------------------------------------  --------------------------->
   <div class="row p-t-b-20">
      <div class="col-md-12">
          {% if messages %}
         {% for message in messages %}
         {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
         <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{message}}</strong>
         </div>
         {% endif %}
         {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
         <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Erorr</strong> {{message}}
         </div>
         {% endif %}
         {% endfor %}
         {% endif %}
         <!-- <div class="card no-b"> -->
         <div class="login-form-card">
            <!-- <div class="login-form-content"> -->
            <form action="{{BASE_URL}}manage-feature/edit-feature/{{feature_id}}" method="POST">
               {% csrf_token %}
               <div class="row">
                  <!-- <div class="col-md-2">
                     <button class="all-btn btn btn-block"><a href="{{BASE_URL}}manage-feature/add-feature">Add New</a></button>
                  </div> -->
                 <!--  <div class="col-md-2">
                     <button class="all-btn btn btn-block">
                     <a href="javascript:;" onclick="remove_product('{{BASE_URL}}manage-feature/delete-feature/{{feature_id}}','Do you want to remove features.','Features removed successfully','Features not removed.');">Delete</a></button>
                  </div> -->
                  <div class="col-md-8"></div>
                  <div class="col-md-12">
                     <!-- start login -->
                     <div class="form-group">
                        <label>Feature<span style="color: red;"> *</span></label>
                        {{ar_feature_form.Feature_key}}
                        <!--                                         <select class="form-control" name="list" placeholder="dashboard" >
                           <option>Dashboard</option>
                           <option>Reports</option>
                           <option>Export</option>
                           <option>Imports</option>
                           <option>Lists</option>
                           <option>Summary</option>
                           <option>BookScanner</option>
                           <option>LocatePOD</option>
                           <option>Store</option>
                           <option>Catalog</option>
                           </select>
                           -->                                
                     </div>
                     <div class="form-group">
                        <label>Description<span style="color: red;"> *</span></label>
                        {{ar_feature_form.Feature_desc}}
                        <!--                                     <textarea class="form-control login-frm-input" style="height: 100px!important;    padding: 11px;" placeholder="Description"></textarea> -->
                     </div>
                     <div class="form-group">
                        <label>Capability (select ONE capability this features belongs to from existing list)<span style="color: red;"> *</span></label>
                        <div class="table-responsive">
                        {{ar_feature_form.CE_ID}}
                     </div>
                      <div class="form-group">
                              <label>User Story</label>
                              <div class="table-responsive">
                                 {{ar_feature_form.User_story}}
                              </div>
                        <!--                                     <select class="form-control selectpicker" id="select-country" data-live-search="true">
                           <option value="" disabled="" selected="">Select Capability</option>
                           <option data-tokens="Capability 1" value="tb1">Capability 1</option>
                           <option data-tokens="Capability 2" value="tb2">Capability 2</option>
                           <option data-tokens="Capability 3" value="tb3">Capability 3</option>
                           </select>


                           -->  

                           <div class="form-group">
                                        <div class="table-responsive">
        <!--                                   <label>Features Associated with this Capability</label>
      <table id="example1" width="100%" border="1" class="table table-striped table-bordered newpage" align="center" cellpadding="0" cellspacing="0" style=" font-size: 15px;">
        <thead>
            <tr>
                <th align="left" valign="top">Feature</th>
                <th align="left" valign="top">Description</th>
                <th align="left" valign="top" style="width:60px!important;">Action</th>
            </tr>
        </thead>
        <tbody id="feature_list">

           </tbody>
    </table> -->
  </div>
                                </div>



                                <!-- <select id="table-select" class="form-control" name="list" placeholder="dashboard">
                           <option value="" disabled="" selected="" >Select Capability</option>
                           <option value="tb1">Capability 1</option>
                           <option value="tb2">Capability 2</option>
                           <option value="tb3">Capability 3</option>
                           <option value="tb4">Capability 4</option>
                           </select> -->
                       
                 
                     <div class="row">
                        <div class="col-md-2">
                           <button type="reset" class="btn-block btn btn-white all-btn" >Reset</button>
                        </div>
                        <div class="col-md-2">
                           <div class="form-group">
                              <button type="submit" class="btn-block btn btn-white all-btn">Update</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
            <!--  </div> -->
         </div>
         <!-- </div> -->
      </div>
   </div>
</div>
</div>
</div>
</div>
<!------------FeedBack messege Modal Popup Start------->

{% endblock %}

{% block script %}

<script type="text/javascript">
  $(document).ready(function(){
  $('#id_User_story').addClass("form-control");

   $('#id_User_story').select2({
    placeholder: "Please select user storyes"
});
   // $('#id_PROJECT_ID').select2();
  });
</script>
      {% endblock %}