{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}

  <main>
<section>
         <div class="xv-slider-wrap text-white">
            <div class="container-fluid">
                     <div class="row"><img src="{{BASE_URL}}media/img/dummy/b1.jpg" class="img-responsive center" alt="SS"></div>
                  </div>
         </div>
      </section>
      <section class="p-t-b-40 animatedParent animateOnce responsive">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-12">
                  <div class="service-featured-content p-t-b-40">
                     <h3 class="fadeInUpShort animated text-center">Why Agile Ready</h3>
                     <p class="mid-txt">Bad User Story writing is easy but costly (time, quality, dollars).
Good User Story writing is hard but invaluable.
Good to Great User Story writing is made easier with Agile Ready, a best practice authoring and rating system.</p>

<p>Bad User Stories delay agile teams in creating high quality code. This costs time and money.
Good User Stories help the business state clear intentions that the agile team can solution easier and faster.</p>

<p>A two-week (10 business days) sprint or iteration for an 8 person team can cost between $16,000 to $64,000 upwards to over $100,000 depending on hourly rates.<span id="dots">...</span><span id="more"> If a team does not have good user stories ready they are sitting around. The cost of delay is simple math.<br><br>

Bad or incomplete user stories are worse in that rework and technical debt rises as developers scramble to mind-read what the business wants and produce code that may work but misses the intention mark.<br><br>

Agile Ready helps User Story authors, of any skill level, understand the quality of their user stories by using the de-facto standard tri-part statement format, “As a "Role" I want "Goal" so that "Benefit" as the measure of a good user story.</span></p>
<button onclick="myFunction()" id="myBtn" class=" btn btn-primary" style="">Read more</button>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="p-b-40 p-t-40 animatedParent animateOnce responsive">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-6">
                  <div class="service-featured-thumbs">
                     <div class="service-thumb animated fadeInUpShort"> <a href="#" class="img-link"><img src="{{BASE_URL}}media/img/demo/whyar.png" alt="service"></a></div>
                  </div>
               </div>
               <div class="col-12 col-lg-6">
                  <div class="service-featured-content p-t-b-40">
                     <h3 class="fadeInUpShort animated">Who Should Use Agile Ready</h3>
                     <br>
                     <ul class="agile-list" style="margin-left: 20px;">
                        <li>Product Owners and those acting as product owners</li>
                        <li>Any Agile Team Member</li>
                        <li>Business People working with Agile Teams </li>
                     </ul>
                     <br>
                     <a href="{{BASE_URL}}view-information/Who-Should-Use-Agile-Ready" class="btn btn-primary btn-lg fadeInUpShort animated">Learn More</a>
                     
                  </div>
               </div>
               
            </div>
         </div>
      </section>
       <!-- <section>
         <div class="p-t-b-40 animatedParent animateOnce responsive">
            <div class="container-fluid">
                     <div class="row">
                         <div class="col-md-8 offset-md-4">
                            <h5>Who Should Use Agile Ready</h5>
                         <p>Product Owners and those acting as product owners</p>
                           <p> Any Agile Team Member</p>
                            <p>Buisness People Works With Agile Teams</p>
                         </div>
                        
                     </div>
                  </div>
         </div>
      </section> -->
      <!-- <section class="p-t-b-40 service-blocks animatedParent animateOnce">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="service-block clearfix">
                     <div class="service-content">

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section> -->
      
      <!--<section class="clients">
         <div class="container">
            <header class="section-heading">
               <h3>Trusted Clients</h3>
               <p>Our Clients love our application here are some clients</p>
            </header>
            <div class="clients-slider">
               <ul class="lightSlider" data-item="5" data-controls="false" data-auto="true" data-item-lg="4" data-item-md="3" data-item-sm="2">
                  <li> <img src="assets/img/dummy/c1.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c2.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c3.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c4.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c5.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c1.png" alt=""></li>
               </ul>
            </div>
         </div>
      </section>-->
   </main>
   

{% endblock %}