{% extends 'admin/dashboard-template.html' %}
{% block content %}
{% load static %}
<div class="container-fluid text-white">
               <div class="row p-t-b-8 ">
                  <div class="col">
                     <h1><span id="page_name"></span></h1>
                  </div>
               </div>
                                <div class="row p-t-b-8">
         <p class="user-nick"> {{user_name}}</p>
  </div>
            </div>
            </header>



<div class="container-fluid">
           
            <div class="row p-t-b-20">
               <div class="col-md-12">
                  <!-- <div class="card no-b"> -->
                     {% if messages %}
                   {% for message in messages %}
                     {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
                       {% endif %}

                   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
                       {% endif %}

                   {% endfor %}
               {% endif %}
          <div class="login-form-card">

                   <!-- <div class="login-form-content"> -->
                        <form action="" onsubmit="doSomething();" method="POST" >
                          <!-- {{status}} sdkjfdfhvj -->
                          {{ product_form.errors }}
{% if product_form.errors %}
    {% for field in product_form %}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
    {% endfor %}
{% endif %}
                          {% csrf_token %}
                                  
                                    <div class="row">
                              <div class="col-md-12">
                                     <!-- start login -->
                                    <div class="form-group">
                                        <label>Product Name <samp style="color: red">*</samp></label>
                                        {{product_form.Product_name}}
                                        
                                </div>
                                <div class="form-group">
                                    <label>Description<samp style="color: red">*</samp></label>
                                   <!--  <textarea class="form-control login-frm-input" style="height: 100px!important;    padding: 11px;" placeholder="Description"></textarea> -->
                                   {{product_form.Product_description}}
                                   

                                </div>
<!--                                 <div class="form-group">
                                         <div class="table-responsive">
                                        <label>Teams Working on this Product</label>
                                        {{product_form.Team_parent}}
                          


                                </div>
 -->                               
                                <div class="form-group">
                                        <label>Business Unit<samp style="color: red">*</samp></label>
                                        <!-- <input class="form-control login-frm-input" type="text" value="" placeholder="Binder Divison" aid="login" name="login"> -->
                                        {{product_form.Business_unit}}
                                </div>
                                <div class="form-group">
                                        <label>Product Size(Based on User Story Sizings)</label>
                                        <input class="form-control login-frm-input" type="text" value="" readonly="" placeholder="0" aid="login" name="product_size">
                                        <!-- {{product_form.Product_size}} -->
                                </div>
                                <div class="form-group">
                                        <label>Product Score(Based on sum of all Backlog Goodness Scores)</label>
                                        <!-- {{product_form.Product_score}} -->
                                        <input class="form-control login-frm-input" type="text" value="" readonly="" placeholder="0" aid="login" name="product_score">
                                </div>
                                <div class="form-group">
                                        <div class="form-group">
                                    <label>UserStory Quality Thresold(Products Minimum Score for a Good User Story)</label>
                                    <br>
                                    <br>
                                    <span>Current Value</span>
                                    <!-- <div class="wrapper"> -->
                                      {{product_form.US_quality_threshold}}

                                </div>
                                </div>
                              </div>
                            </div>
                            
                                <div class="row">
                                  <div class="col-md-2">
                                    <a href="{{BASE_URL}}manage-products" class="btn-block btn btn-white all-btn" > Cancel</a>
                                  </div>
                                  <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn-block btn btn-white all-btn">Add</button>
                               </div>
                             </div>
                             </div>
                             </div>
                                </form></div>
                              
                            </div>
                                    
                         
                      <!-- </div> -->
             </div>
          <!-- </div> -->
               </div>
{% endblock %}



{% block script %}
<script type="text/javascript">
   $(document).ready(function(){
  
  $("#id_Children_backlog_list").addClass("form-control");
  $("#id_Team_parent").addClass("form-control");

   $('#id_Team_parent').select2({
    placeholder: "Please select teams"
});
   $('#id_Children_backlog_list').select2();

});
  function doSomething() {
    $(".se-pre-con").css("display","block");
}
</script>
{% endblock %}

