{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}
   <main>
      <section>
         <div class="xv-slider-wrap text-white">
            <div class="container-fluid">
                     <div class="row"><img src="{{BASE_URL}}media/img/dummy/b1.jpg" class="img-responsive center" alt="SS"></div>
                  </div>
         </div>
      </section>
      <section class="p-t-b-40 service-blocks animatedParent animateOnce">
         <div class="container">
            <div class="row">
                <div class="col-12 col-lg-12">
                  <div class="service-featured-content p-t-b-40">
                     <h3 class="fadeInUpShort animated text-center">Company</h3>
                     <br>
                     <p class="mid-txt text-center">We designed Agile Ready to help Agile Teams to answer the two most important questions in software development,<br> “What are we building?” and “When do we need it?”<br>Agile Ready Partners, LLC is the investment ownership group for the Agile Ready Platform. </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="p-t-b-40 animatedParent animateOnce responsive">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-6">
                  <div class="service-featured-thumbs">
                     <div class="service-thumb animated fadeInUpShort"> <a href="#" class="img-link"><img src="{{BASE_URL}}media/img/demo/company2.png" alt="service"></a></div>
                  </div>
               </div>
               <div class="col-12 col-lg-6">
                  <div class="service-featured-content p-t-b-40">
                     <h3 class="fadeInUpShort animated">What Are We Building?</h3>
                     <br>
                     <p class="fadeInUpShort animated">Designed for Teams and Enterprises Agile Ready’s workflow and data model allows users to contextualize the way they work without shoehorning them into any requirements management methodology. Its all about the user story.</p>
                     <br>
                     <!-- <p class="fadeInUpShort animated">Globally harness resource maximizing sources without backend communities.</p> -->
                     <br>
                     <a href="{{BASE_URL}}view-information" class="btn btn-primary btn-lg fadeInUpShort animated">View More information</a></div>
               </div>
            </div>
         </div>
      </section>
      <section class="p-b-40 p-t-40 animatedParent animateOnce responsive">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-6">
                  <div class="service-featured-content p-t-b-40">
                     <h3 class="fadeInUpShort animated">When Do We Need It?</h3>
                     <br>
                     <p class="fadeInUpShort animated">Agile Ready helps any Agile Team member, whatever their role, write better user stories. For Product Managers, Product Owners and  Business Owners, Agile Ready helps you turn vision into ready User Stories, organized by product line, capability and features and rated for quality.</p>
                     <br>
                     <!-- <p class="fadeInUpShort animated">Globally harness resource maximizing sources without backend communities.</p> -->
                     <br>
                     <a href="{{BASE_URL}}view-information" class="btn btn-primary btn-lg fadeInUpShort animated">View More information</a></div>
               </div>
               <div class="col-12 col-lg-6">
                  <div class="service-featured-thumbs">
                     <div class="service-thumb animated fadeInUpShort"> <a href="#" class="img-link"><img src="{{BASE_URL}}media/img/demo/company1.png" alt="service"></a></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      
      <!--<section class="clients">
         <div class="container">
            <header class="section-heading">
               <h3>Trusted Clients</h3>
               <p>Our Clients love our application here are some clients</p>
            </header>
            <div class="clients-slider">
               <ul class="lightSlider" data-item="5" data-controls="false" data-auto="true" data-item-lg="4" data-item-md="3" data-item-sm="2">
                  <li> <img src="assets/img/dummy/c1.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c2.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c3.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c4.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c5.png" alt=""></li>
                  <li> <img src="assets/img/dummy/c1.png" alt=""></li>
               </ul>
            </div>
         </div>
      </section>-->
   </main>


{% endblock %}