{% extends 'admin/dashboard-template.html' %}
{% block content %}
{% load static %}
         <div class="container-fluid">
           
            <div class="row p-t-b-20">
               <div class="col-md-12">
                  <!-- <div class="card no-b"> -->
				  <div class="login-form-card edit">
                    <!-- <div class="login-form-content"> -->
                        <form action="javascript:(0);">
                                   <div class="row">
                                      <div class="col-md-2">
                                        <button class="all-btn btn btn-block">Add New</button>
                                      </div>
                                      <div class="col-md-2">
                                        <button class="all-btn btn btn-block">Delete</button>
                                      </div>
                                      <div class="col-md-8"></div>
                                      <div class="col-md-6">
                                     <!-- start login -->
                                     <div class="form-group">
                                        <label>Owner</label>
                                        {{ar_user_story_form.owner}}
                                        <!-- <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">         -->
                                </div>
                                <div class="form-group">
                                        <label>Title</label>
                                        {{ar_user_story_form.title}}
                                        <!-- <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">         -->
                                </div>
                                <div class="form-group">
                                        <label>User Story Type</label>
                                        {{ar_user_story_form.user_story_type}}
                                        <!-- <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">         -->
                                </div>
                                <div class="form-group">
                                        <label>Story Tri Part Text</label>
                                        {{ar_user_story_form.story_tri_part_text}}
                                        <!-- <textarea class="form-control login-frm-input" style="height: 100px!important;    padding: 11px;" placeholder=""></textarea>         -->
                                </div>
                                <div class="form-group">
                                        <label>Epic Capability</label>
                                        {{ar_user_story_form.epic_capability}}
                                        <!-- <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">         -->
                                </div>
                                <div class="form-group">
                                        <label>Features</label>
                                        {{ar_user_story_form.feature}}
                                        <!-- <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">         -->
                                </div>
                                <div class="form-group "style="margin-bottom: 0rem; margin-top: -10px;">
                                        <label>AutoScoring</label>
                                        {{ar_user_story_form.autoscoring_on}}
                                        <!-- <input class="login-frm-input" type="checkbox" value="" placeholder="" aid="login" name="login"> -->
                                </div>
                                
                                <!-- <div class="form-group">
                                        <label>List</label>
                                        <select class="form-control" name="list" placeholder="select Team Member">
                                 <option>Team Newton</option>
                              </select>
                                </div> -->
                                </div>
                              <div class="col-md-6">
                                     <div class="form-group">
                                        <label>Acceptance</label>
                                        {{ar_user_story_form.acceptance_criteria}}
                                        <!-- <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">         -->
                                </div>
                                    <div class="form-group">
                                        <label>Conversations</label>
                                        {{ar_user_story_form.conversation}}
                                        <!-- <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">         -->
                                </div>
                                <div class="form-group">
                                        <label>Backlogs Parents</label>
                                        {{ar_user_story_form.backlog_parent}}
                                        <!-- <select class="form-control" name="list" placeholder="select Team Member"> -->
                                 <!-- <option>Link Backlogs Here</option> -->
                              <!-- </select> -->
                                </div>
                              <div class="form-group">
                                        <label>Readiness Quality Score</label>
                                        {{ar_user_story_form.readiness_quality_score}}
                                        <!-- <textarea class="form-control login-frm-input" style="height: 100px!important;    padding: 11px;" placeholder=""></textarea> -->
                                </div>
                                <div class="form-group">
                                        <label>User Story Status</label>
                                        {{ar_user_story_form.user_story_status}}
                                        <!-- <select class="form-control" name="list" placeholder="select Team Member"> -->
                                 <!-- <option>Ideation</option>
                                 <option>Not Ready</option>
                                 <option>Refinement</option>
                                 <option>Ready</option>
                                 <option>In Progress</option>
                                 <option>Accepted</option>
                                 <option>Archived</option>
                              </select> -->
                                        
                                </div>
                                
                                <div class="form-group">
                                        <label>Story Point</label>
                                        {{ar_user_story_form.story_points}}
                                        <!-- <select class="form-control" name="list" placeholder="select Team Member"> -->
                                 <!-- <option>Size</option> -->
                              <!-- </select> -->
                                </div>
                                <div class="form-group" style="margin-bottom: 0rem; margin-top: -10px;">
                                        <label>Archive Indicator</label>
                                        {{ar_user_story_form.archive_indicator}}
                                        <!-- <input class="login-frm-input" type="checkbox" value="" placeholder="" aid="login" name="login"> -->
                                </div>
                              </div>
                            </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <button type="submit" class="btn-block btn btn-white all-btn" onclick="goBack()">Cancel</button>
                                  </div>
                                  <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn-block btn btn-white all-btn">Update</button>
                               </div>
                             </div>
                             </div>  
                         </form>
                       </div>
             </div>
				  <!-- </div> -->
               </div>
			    </div>
         </div>
      </div>
   </div>
</div>
<!------------Modal Popup------->
<div class="modal fade in sp-map" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content" style="width: 150%!important;">
              <div class="modal-header">

                <h4 class="modal-title">Manage User Story</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="font-size: 32px;">×</span></button>
                
              </div>
              <div class="modal-body">
                <div class="paper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                   <!-- <div class="card no-b"> -->
          <!-- <div class="login-form-card"> -->
                     <div class="login-form-content">
                                    <form action="javascript:(0);">
                                    <div class="row">
                                      <div class="col-md-8"></div>
                                      <div class="col-md-2">
                                        <button class="all-btn btn">Add New</button>
                                      </div>
                                      <div class="col-md-2">
                                        <button class="all-btn btn">Delete</button>
                                      </div>
                                      <div class="col-md-6">
                                     <!-- start login -->
                                     <div class="form-group">
                                        <label>Owner</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>Title</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>User Story Type</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>Story Tri Part Text</label>
                                        <textarea class="form-control login-frm-input" style="height: 100px;    padding: 11px;" placeholder=""></textarea>        
                                </div>
                                <div class="form-group">
                                        <label>Epic Capability</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>Features</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group "style="margin-bottom: 0rem; margin-top: -10px;">
                                        <label>AutoScoring</label>
                                        <input class="login-frm-input" type="checkbox" value="" placeholder="" aid="login" name="login">
                                </div>
                                
                                <!-- <div class="form-group">
                                        <label>List</label>
                                        <select class="form-control" name="list" placeholder="select Team Member">
                                 <option>Team Newton</option>
                              </select>
                                </div> -->
                                </div>
                              <div class="col-md-6">
                                     <div class="form-group">
                                        <label>Acceptance</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                    <div class="form-group">
                                        <label>Conversations</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>Backlogs Parents</label>
                                        <select class="form-control" name="list" placeholder="select Team Member">
                                 <option>Link Backlogs Here</option>
                              </select>
                                </div>
                              <div class="form-group">
                                        <label>Readiness Quality Score</label>
                                        <textarea class="form-control login-frm-input" style="height: 100px;    padding: 11px;" placeholder=""></textarea>
                                </div>
                                <div class="form-group">
                                        <label>User Story Status</label>
                                        <select class="form-control" name="list" placeholder="select Team Member">
                                 <option>Ideation</option>
                                 <option>Not Ready</option>
                                 <option>Refinement</option>
                                 <option>Ready</option>
                                 <option>In Progress</option>
                                 <option>Accepted</option>
                                 <option>Archived</option>
                              </select>
                                        
                                </div>
                                
                                <div class="form-group">
                                        <label>Story Point</label>
                                        <select class="form-control" name="list" placeholder="select Team Member">
                                 <option>Size</option>
                              </select>
                                </div>
                                <div class="form-group" style="margin-bottom: 0rem; margin-top: -10px;">
                                        <label>Archive Indicator</label>
                                        <input class="login-frm-input" type="checkbox" value="" placeholder="" aid="login" name="login">
                                </div>
                              </div>
                            </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <button type="submit" class="btn-block btn btn-white all-btn" data-dismiss="modal">Cancel</button>
                                  </div>
                                  <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn-block btn btn-white all-btn">Update</button>
                               </div>
                             </div>
                             </div>
                        </form></div>
             </div>
          </div>
                            </div>
                        </div>
                    </div>
                            </div>
                        
                        </div>
                </div>
              <!-- </div>
            </div> -->
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!---------------------------Modal Ends---------------->
        <!------------2nd Modal Popup Start------->
<div class="modal fade in sp-map" id="modal-default1">
          <div class="modal-dialog">
            <div class="modal-content" style="width: 150%!important;">
              <div class="modal-header">

                <h4 class="modal-title">Add User Story</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="font-size: 32px;">×</span></button>
                
              </div>
              <div class="modal-body">
                <div class="paper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="container-fluid">
                                   <!-- <div class="card no-b"> -->
          <!-- <div class="login-form-card"> -->
                     <div class="login-form-content">
                                    <form action="javascript:(0);">
                                    <div class="row">
                                      
                                      <div class="col-md-6">
                                     <!-- start login -->
                                     <div class="form-group">
                                        <label>Owner</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>Title</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>User Story Type</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>Story Tri Part Text</label>
                                        <textarea class="form-control login-frm-input" style="height: 100px;    padding: 11px;" placeholder=""></textarea>        
                                </div>
                                <div class="form-group">
                                        <label>Epic Capability</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>Features</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group "style="margin-bottom: 0rem; margin-top: -10px;">
                                        <label>AutoScoring</label>
                                        <input class="login-frm-input" type="checkbox" value="" placeholder="" aid="login" name="login">
                                </div>
                                
                                <!-- <div class="form-group">
                                        <label>List</label>
                                        <select class="form-control" name="list" placeholder="select Team Member">
                                 <option>Team Newton</option>
                              </select>
                                </div> -->
                                </div>
                              <div class="col-md-6">
                                     <div class="form-group">
                                        <label>Acceptance</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                    <div class="form-group">
                                        <label>Conversations</label>
                                        <input class="form-control login-frm-input" type="text" id="login" placeholder="" name="login">        
                                </div>
                                <div class="form-group">
                                        <label>Backlogs Parents</label>
                                        <select class="form-control" name="list" placeholder="select Team Member">
                                 <option>Link Backlogs Here</option>
                              </select>
                                </div>
                              <div class="form-group">
                                        <label>Readiness Quality Score</label>
                                        <textarea class="form-control login-frm-input" style="height: 100px;    padding: 11px;" placeholder=""></textarea>
                                </div>
                                <div class="form-group">
                                        <label>User Story Status</label>
                                        <select class="form-control" name="list" placeholder="select Team Member">
                                 <option>Ideation</option>
                                 <option>Not Ready</option>
                                 <option>Refinement</option>
                                 <option>Ready</option>
                                 <option>In Progress</option>
                                 <option>Accepted</option>
                                 <option>Archived</option>
                              </select>
                                        
                                </div>
                                
                                <div class="form-group">
                                        <label>Story Point</label>
                                        <select class="form-control" name="list" placeholder="select Team Member">
                                 <option>Size</option>
                              </select>
                                </div>
                                <div class="form-group" style="margin-bottom: 0rem; margin-top: -10px;">
                                        <label>Archive Indicator</label>
                                        <input class="login-frm-input" type="checkbox" value="" placeholder="" aid="login" name="login">
                                </div>
                              </div>
                            </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <button type="submit" class="btn-block btn btn-white all-btn" data-dismiss="modal">Cancel</button>
                                  </div>
                                  <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn-block btn btn-white all-btn">Add</button>
                               </div>
                             </div>
                             </div>
                        </form></div>
             </div>
          </div>
                            </div>
                        </div>
                    </div>
                            </div>
                        
                        </div>
                </div>
              <!-- </div>
            </div> -->
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-------------------2nd Modal Ends---------------->
        <!------------Delete messege Modal Popup Start------->
<div class="modal fade in sp-map" id="modal-default2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Confirm</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="font-size: 32px;">×</span>
          </button>
                
      </div>
      <div class="modal-body">
        <div class="paper">
          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
                                   <!--  <div class="login-form-content"> -->
                <form action="javascript:(0);">
                  <div class="row">
                      <p>Are you sure you want to Delete?</p>
                    <div class="col-md-6">
                        <button type="submit" class="btn-block btn btn-white all-btn" >Yes</button>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          <button type="submit" class="btn-block btn btn-white all-btn" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
                  
                      <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        <!--------------------Delete Message Modal Ends---------------->
          <!------------FeedBack messege Modal Popup Start------->
<div class="modal fade in sp-map" id="feedback1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">We value your Feedback</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="font-size: 32px;">×</span>
          </button>
                
      </div>
      <div class="modal-body">
        <div class="paper">
          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
               
                                   <!--  <div class="login-form-content"> -->
                <form action="javascript:(0);">
                  <div class="row">
                     <div class="col-md-6">
                      <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                   <tr>
                    <td align="left" valign="top">User Name:</td>
                    <td align="left" valign="top">Jeo Smith</td>
                   </tr>
                   <tr>
                    <td align="left" valign="top">Date/Time:</td>
                    <td align="left" valign="top">11/10/2019</td>
                   </tr>
                </table>
             </div>
             <div class="col-md-6"></div>
          </div>
          <div class="row">
             <div class="col-md-5">
               <label>Feedback Nature:</label>
             </div>
             <div class="col-md-7 p-t-10">
                 <select class="form-control" >
                    <option>Irritating Bug</option>
                    <option>Tolerance for a while Bug</option>
                    <option>Fix It Now Bug!</option>
                    <option>Suggestion</option>
                    <option>Complaint</option>
                    <option>Other</option>
                 </select>
             </div>
          </div>
          <div class="row">
             <div class="col-md-12">
                <label>Feedback Information:</label>
                <textarea class="form-control" style="height: 150px!important;"></textarea>
             </div>
             <div class="col-md-12">
               <label>Attachments:</label>
               <div class="attach">
                    
                    <form action="upload.php" method="POST">

                        <input type="file" multiple>
                        <p><i class="icon-upload"></i><br>Drag your files here or Click here</p>
                    </form>
               </div>
             </div>
             <div class="col-md-12 p-t-b-20">
               <span>Fix It Now Bugs will get immediate attention.Please give the Agile Ready Team 24 to 72  hours to provide and initial response to all  other  feedback.</span>
             </div>
                  <div class="col-md-4 offset-md-4">
                        <button type="submit" class="btn-block btn btn-white all-btn" >Submit</button>
                    </div>
          </div>
                 </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        <!--------------------FeedBack Message Modal Ends---------------->
                <!------------Help messege Modal Popup Start------->
<div class="modal fade in sp-map" id="help1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Help</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="font-size: 32px;">×</span>
          </button>
                
      </div>
      <div class="modal-body">
        <div class="paper">
          <div class="row">
            <div class="col-md-12">
              <div class="container-fluid">
                                   <!--  <div class="login-form-content"> -->
                <form action="javascript:(0);">
                 <div class="table-responsive">
                                     <!-- start Table -->
                                     <table id="example4" width="100%" border="1" class="table table-striped table-bordered newpage" align="center" cellpadding="0" cellspacing="0" style=" font-size: 15px;">
                                       <thead>
            <tr class="dnd-moved">
              <th align="left" valign="top" class="itrid">Titles</th>
                <th align="left" valign="top" class="itrds">Details</th>
             </tr>
          </thead>
        <tbody>
            <tr>
                <td align="left" valign="top">Topic</td>
                <td align="left" valign="top">Dashboard</td>
            </tr>
            <tr>
                <td align="left" valign="top">Description</td>
                <td align="left" valign="top">Dashboard Page</td>
            </tr>
            <tr>
                <td align="left" valign="top">Information</td>
                <td align="left" valign="top">This Page Provides All Details.</td>
            </tr>
            <tr>
                <td align="left" valign="top">Useful Links</td>
                <td align="left" valign="top">
                   <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                   <tr>
                    <td align="left" valign="top">Link 1 </td>
                   </tr>
                   <tr>
                   <td align="left" valign="top">Link 2</td>
                   </tr>
                   <tr>
                   <td align="left" valign="top">Link 3 </td>
                   </tr>
                </table>
                </td>
            </tr>
            
        </tbody>
    </table>
                                     <!---Table Ends---->
</div>
                              



                </form>
              </div>
            </div>
                  
                       <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

        <!--------------------Help Message Modal Ends---------------->

<script src="assets/js/app.js"></script>
<script src="assets/js/sidebar-accordian.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<script>
function goBack() {
  window.history.back()
}
</script>


<script type="text/javascript">
   $(document).ready(function(){
  $('.attach input').change(function () {
    $('.attach p').text(this.files.length + " file(s) selected");
  });
});
</script>
{% endblock %}