{% extends 'admin/dashboard-template.html' %}
{% block content %}
{% load static %}
{% block cssstyle %}
<link href='{% static "css/jquery.lwMultiSelect.css" %}'  rel="stylesheet" />
<style type="text/css">
  span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
    width: 100% !important;
}




</style>
    {% endblock %}



<div class="container-fluid text-white">
               <div class="row p-t-b-8 ">
                  <div class="col">
                     <h1>User Story View</h1>
                  </div>
               </div>
                                <div class="row p-t-b-8">
         <p class="user-nick"> {{user_name}}</p>
  </div>
            </div>
            </header>

<div class="container-fluid">
           
            <div class="row p-t-b-20">
               <div class="col-md-12">
        {% if messages %}
                   {% for message in messages %}
                     {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
                       {% endif %}

                   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
                       {% endif %}

                   {% endfor %}
               {% endif %}
                  <!-- <div class="card no-b"> -->
              <div class="login-form-card">
        
                       
                          <div class="row">
                      <div class="col-md-12 mb-2">
                        <button class="btn-primary add-data"><a href="{{BASE_URL}}user-story-view/add-new" style="text-decoration: none; color: #fff;">Add User Story</a></button>
                        <button class="btn-primary import-data" id="create_user_story_copy">Copy Selected Stories</button>
                        <button  id="show_col" class="btn-primary import-data" data-toggle="modal" data-target="#myModal">Show Columns</button>
                  <button class="btn-primary import-data" data-toggle="modal" onclick="set_data('Ar User Story','user-story-view')" data-target="#myModalImportCSV">Import</button>
         </div>
            <div class="col-md-12">
         
                </div>
                </div>

            <div class="table-responsive">
              
                                     <!-- start Table -->
                                     <div id="example_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="example_length"><label>Show <select name="example_length" aria-controls="example" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                                     <!-- example12 -->
                                     <table id="example" width="auto" border="1" class="table table-striped table-bordered newpage dataTable no-footer" align="center" cellpadding="0" cellspacing="0" style="font-size: 15px; width: auto; margin:0px;" role="grid" aria-describedby="example_info">
        <thead>
            <tr class="dnd-moved" role="row">
              <th align="left" valign="top">S.No.</th>
 
   


  {% if get_show_column|length > 0 %}
        {% for v in get_show_column %}
          <th align="left" class="{{v}}" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{ all_column_list|get_item:v  }}  </th>
          {% endfor %}
           
  {% else %}


           {% for k , v in all_column_list.items %}
          <th align="left" class="{{v}}" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{v}}</th>
          {% endfor %}    
            
        
  {% endif %}


<!-- {% for k , v in all_column_list.items %}   
       
{% if get_show_column|length > 0 %}
       {% if k in get_show_column %}
  
         <th align="left" class="{{v}}" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="width: 52px;">{{v}}</th>  
          {% endif %}
    {% else %}
<th align="left" class="{{v}}" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="width: 52px;">{{v}}</th>  
    {% endif %}

          {% endfor %} -->

   <th align="left" class="action" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="">Action</th>
</tr>
        </thead>
        <tbody>
            
            
            
            
            {% if get_user_story %}
            {% for data in get_user_story %}

        
        <tr class="dnd-moved odd" role="row">
          <td align="left" valign="top">{{forloop.counter}} <input type="checkbox" class="get_user_story_ids" value="{{data.id}}" name=""></td>
             

                         
{% if get_show_column|length > 0 %}

     
                         
            {% for v in get_show_column %}


                            {% if  v == 'backlog_parent' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.backlog_parent}}</th> 
              {% endif %}
             {% if v == 'owner' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.owner}}</th> 
              {% endif %}

              {% if v == 'title' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.title}}</th> 
              {% endif %}
             
             {% if v == 'story_tri_part_text' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style=" white-space: normal;
    word-break: break-all;">{{data.story_tri_part_text}}</th> 
              {% endif %}

             {% if v == 'acceptance_criteria' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style=" white-space: normal;
    word-break: break-all;">{{data.acceptance_criteria}}</th> 
              {% endif %}
              
              {% if v == 'ac_readability_score' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">

              
                 <div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.ac_readability_score}}" data-duration="1000" data-color=",#d35400"></div>
</div>
                       <!--        <div class="progress">
                         <div class="barOverflow">
                            <div class="bar"></div>
                         </div>
                         
                     </div> -->




            </th> 
              {% endif %}
             
             {% if v ==  'conversation' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="white-space: normal;
    word-break: break-all;">{{data.conversation}}</th> 
              {% endif %}

               {% if v == 'convo_readability_score'  %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">
<div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.convo_readability_score}}" data-duration="1000" data-color=",#d35400"></div>
</div>
              
            </th> 
              {% endif %}
             
             {% if v == 'attachments' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">
                {% if data.attachments == 'None' %}
                 {{data.attachments}}
                {% else %}
                <a class="document_name" target="_blank" href="{{data.attachments.url}}"><img style="height: 36px; white-space: normal;
    word-break: break-all;" src='{% static "img/basic/images.png" %}'>{{data.attachments}}</a>
               
                {% endif %}
                </th> 
              {% endif %}

              {% if v ==  'autoscoring_on'  %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.autoscoring_on}}</th> 
              {% endif %}
              


              {% if v == 'archive_indicator'  %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.archive_indicator}}</th> 
              {% endif %}
              

              {% if v ==  'readiness_quality_score' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">
                
                    <div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.readiness_quality_score}}" data-duration="1000" data-color=",#d35400"></div>
</div>
                         <!--      <div class="progress">
                         <div class="barOverflow">
                            <div class="bar"></div>
                         </div>
                         <span>{{data.readiness_quality_score}}</span>%
                     </div> -->
              </th> 
              {% endif %}


              {% if v == 'story_points' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.story_points}}</th> 
              {% endif %}

               {% if v == 'user_story_status'  %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.user_story_status}}</th> 
              {% endif %}

              {% if v ==  'ORG_id'  %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.ORG_id}}</th> 
              {% endif %}


               {% if v == 'UST_ID' %}  

              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.UST_ID}}</th> 
              {% endif %}

               {% if v == 'ar_user' %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.ar_user}}</th> 
              {% endif %}

              {% if v == 'created_by' %}  

              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.created_by}}</th> 
              {% endif %}

              {% if v == 'created_dt'  %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.created_dt}}</th> 
              {% endif %}

                {% if v == 'updated_by'  %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.updated_by}}</th> 
              {% endif %}

              {% if v == 'updated_dt'  %}  
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.updated_dt}}</th> 
              {% endif %}
      
        {% endfor %}

{% else %}

 
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.backlog_parent}}</th> 
           
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.owner}}</th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.title}}</th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style=" white-space: normal;
    word-break: break-all;">{{data.story_tri_part_text}}</th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style=" white-space: normal;
    word-break: break-all;">{{data.acceptance_criteria}}</th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">

              

                 <div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.ac_readability_score}}" data-duration="1000" data-color=",#d35400"></div>
</div>



            </th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style=" white-space: normal;
    word-break: break-all;">{{data.conversation}}</th> 
             
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">
<div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.convo_readability_score}}" data-duration="1000" data-color=",#d35400"></div>
</div>

</th> 
             
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">
                {% if data.attachments == 'None' %}
                 {{data.attachments}}
                {% else %}
                <a class="document_name" target="_blank" href="{{data.attachments.url}}"><img style=" white-space: normal;
    word-break: break-all; height: 36px;" src='{% static "img/basic/images.png" %}'>{{data.attachments}}</a>
               
                {% endif %}
                </th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.autoscoring_on}}</th> 
             
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.archive_indicator}}</th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">

                    <div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.readiness_quality_score}}" data-duration="1000" data-color=",#d35400"></div>
</div>
      </th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.story_points}}</th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.user_story_status}}</th> 
             
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.ORG_id}}</th> 
             

              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.UST_ID}}</th> 
              
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.ar_user}}</th> 
             
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.created_by}}</th> 
           
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.created_dt}}</th> 
                  <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.updated_by}}</th> 
           
              <th align="left" class="usid sorting" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{data.updated_dt}}</th> 
              

{% endif %}
                <td align="left" class="action" valign="top">
                <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                   <tbody><tr>
                    <td align="center" valign="top"><a href="{{BASE_URL}}user-story-view/edit-story/{{data.id}}"><i class="icon-pencil"></i></a></td>
                    <td align="center" valign="top"><a href="javascript:;" onclick="remove_product('{{BASE_URL}}user-story-view/remove-user-story/{{data.id}}','{{Remove_Request_msg}}','{{Remove_done_msg}}','{{Not_Remove_msg}}');"><i class="icon-delete"></i></a><a></a></td>
                   </tr>
                </tbody></table>
                </td>
            </tr>
    {% endfor %}
            {% endif %}
          </tbody>
    </table></div>
                                     <!---Table Ends---->
</div>
                                    
                        
                      <!-- </div> -->
             </div>
              <!-- </div> -->
               </div>
             </div>
         </div>












    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content" style="margin-top:60px;">
      <div class="modal-header">
    <h4 class="modal-title" style="width: 100%;">Choose User Story View </h4>
      <a href="{{BASE_URL}}user-story-view" class="close"><span aria-hidden="true" style="font-size: 32px; color: #000;">×</span></a>
        <!-- <button type="button" class="close" data-dismiss="modal" style="margin: 0; padding: 0 !important; color: #000 !important;">&times;</button> -->
      </div>
      <div class="modal-body ">

      <div class="container">
        <select id="selectDefaults" multiple="multiple">
           {% for k , v in all_column_list.items %}   
       
          {% if k not in get_show_column %}
           <option value="{{k}}" >{{v}}</option>

          {% endif %}


          {% endfor %}
          {% for selected_item in get_show_column %}
           <option value="{{selected_item}}" selected="true">{{ all_column_list|get_item:selected_item  }}</option>
           {% endfor %}
          
        </select>
      </div>
    </div>
      <div class="modal-footer">
        <a href="{{BASE_URL}}user-story-view" class="btn btn-default" >Close</a>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-danger click_to_submit">Submit</button>
      </div>
    </div>

  </div>
</div>
     
          
{% endblock %}




{% block script %}
<script src='{% static "js/jquery.lwMultiSelect.js" %}' ></script>
<script>
  $("td").click(function(e) {
    var chk = $(this).closest("td").find("input:checkbox").get(0);
    if(e.target != chk)
    {
        chk.checked = !chk.checked;
    }
});
</script>
<script type="text/javascript">
  function doSomething() {
    $(".se-pre-con").css("display","block");
}



  $(document).on("click","#create_user_story_copy",function(){
   var ids = new Array();

  $(".get_user_story_ids:checked").each(function(){
             
            ids.push(this.value); 
        });
 var urls = "{{BASE_URL}}user-story-view/create-copys/"; 
if(ids!="")
{
  swal({
      title: "{{Copy_Request_msg}}",
      // text: "Do you want to created copy of selected Storyes",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
       window.location.href = urls+ids;           
        // swal(done, {
        //   icon: "success",
        // });
      } else {
        swal(fail);
      }
    });
}
else
{
  swal("Warning", "{{Copy_Story_msg}}", "warning");
}


  });
</script>
<script>
$(document).ready(function() {
/*$('#selectDefaults').lwMultiSelect();*/
$('#selectDefaults').lwMultiSelect({
  addAllText:"Select All",
  removeAllText:"Remove All",
  selectedLabel:"Values accepted",
  maxSelect: 0,//0 = no restrictions
  maxText:'',
});
});

$(document).on("click",".click_to_submit",function(){
var urls = "{{BASE_URL}}user-story-view/update-table-structure/"; 
var names = new Array();
$(".lwms-right .lwms-selectli").each(function(){
  names.push($(this).data("value")); 
});

if(names=="")
{
  swal("Warning", "Select the Columns that you want to show in table!", "warning");
}
else{
  swal({
      title: "{{Rearrange_Request_msg}}",
      // text: "Do you want to update the table structure.",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
       window.location.href = urls+names;           
        // swal(done, {
        //   icon: "success",
        // });
      } else {
        swal(fail);
      }
    });
}


});
</script>
{% endblock %}
