{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}
   <main>
      <section class="p-t-b-40 animatedParent animateOnce responsive">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-12">
                  <div class="service-featured-content p-t-b-40">
                     <h3 class="fadeInUpShort animated text-center go">About-Us</h3>
                   </div>
                 </div>
               </div>
             </div>
      </section>
    
   </main>
<!----------------------------------------->


{% endblock %}