{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}
   <main>
      <section class="p-t-b-40 animatedParent animateOnce responsive">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-12">
                  <div class="service-featured-content p-t-b-40">
                     <h3 class="fadeInUpShort animated text-center go">Contact-Us</h3>
                     <p>We want to hear from you!</p>
                     <p>General and Media Inquiries: Email at <a href="mailto:info@agileready.net">info@agileready.net</a></p>
                     <p>Enterprise and Custom Sales inquiries: Email @ <a href="mailto:sales@agileready.net">sales@agileready.net</a> or call 904-614-0931 (business hours 9-5 pm Eastern Standard Time, United States)</a></p>
                   </div>
                 </div>
               </div>
             </div>
      </section>
    
   </main>
<!----------------------------------------->


{% endblock %}