{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}

   <main>
      <section>
         <div class="xv-slider-wrap text-white">
            <div class="container-fluid">
                      <div class="row"><img src="{{BASE_URL}}media/img/dummy/b1.jpg" class="img-responsive center" alt="SS"></div>

                  </div>
         </div>
      </section>
      <section class="p-t-b-40 animatedParent animateOnce responsive">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-6">
                  <div class="service-featured-thumbs">
                     <div class="service-thumb animated fadeInUpShort"> <a href="#" class="img-link"><img src="{{BASE_URL}}media/img/demo/female1.jpg" alt="service"></a></div>
                  </div>
               </div>
               <div class="col-12 col-lg-6">
                  <div class="service-featured-content p-t-b-40">
                     <h3 class="fadeInUpShort animated">A Day in the life of an Agile Ready User</h3>
                     <br>
                     <p class="fadeInUpShort animated">Shannon is a Product Owner for three teams, GirlBand, DarkMatter and SealTeam7. Something big is about to happen and Agile Ready will be a big help.</p>
                     <br>
                     <!-- <p class="fadeInUpShort animated">Globally harness resource maximizing sources without backend communities.</p> -->
                     <br>
                     <a href="{{BASE_URL}}view-information" class="btn btn-primary btn-lg fadeInUpShort animated">View More information</a></div>
               </div>
            </div>
         </div>
      </section>
      <section class="p-b-40 p-t-40 animatedParent animateOnce responsive">
         <div class="container">
            <div class="row">
               <div class="col-12 col-lg-6">
                  <div class="service-featured-content p-t-b-40">
                     <h3 class="fadeInUpShort animated">Team Edition help you get User Stories Ready Fast</h3>
                     <br>
                     <p class="fadeInUpShort animated">Write better user stories using Agile Ready’s Rating System. Write User Stories Faster as a team. Invite other users to join your team.</p>
                     <br>
                     <!-- <p class="fadeInUpShort animated">Globally harness resource maximizing sources without backend communities.</p> -->
                     <br>
                     <a href="{{BASE_URL}}view-information" class="btn btn-primary btn-lg fadeInUpShort animated">View More information</a></div>
               </div>
               <div class="col-12 col-lg-6">
                  <div class="service-featured-thumbs">
                     <div class="service-thumb animated fadeInUpShort"> <a href="#" class="img-link"><img src="{{BASE_URL}}media/img/demo/female2.jpg" alt="service"></a></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </main>

<!----------------------------------------->


{% endblock %}