{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}
   <main>
      <section>
         <div class="xv-slider-wrap text-white">
            <div class="container-fluid">
                     <div class="container-fluid">
                     <div class="row"><img src="{{BASE_URL}}media/img/demo/coming-soon.gif" class="img-responsive center" alt="SS"></div>
                  </div>
                  </div>
         </div>
      </section>
    
   </main>
<!----------------------------------------->


{% endblock %}